body{
    background-color: cornflowerblue;
}

h1{
    color: aqua;
    background-color: salmon;
}

#show_sketch{
    float: right;
}

canvas {
    border: 7px dotted black;
    border-radius: 3px;
    margin-top: 87px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px rgb(0, 162, 255);}
    to {box-shadpw: 1px 1px 38px rgb(15, 182, 57);}
}

p {
    padding-top:10px;
    font-size: 25px;
}